[user]
  email = emarinelli@palantir.com
#	email = eugeneiiim@gmail.com
	name = Eugene Marinelli
[color]
	ui = auto
[branch]
	autosetuprebase = always
[alias]
  co = checkout
  cp = cherry-pick
  br = branch
  st = stash
[dude]
	interval = 600
