*~
.bash_history
.bash_logout
.cache
.config
.emacs.desktop
.ido.last
.ivy2
.oh-my-zsh
.profile
.subversion
.sudo_as_admin_successful
.zcompdump
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
.blend-cache
.lesshst
.npm
*.tar.gz
elasticsearch*
repo
.Xauthority
.pip
.aptitude
.emacs.d
.m2
.psql_history
.svn
.ssh/authorized_keys
.ssh/known_hosts
.vbox_version
.veewee_version
postinstall.sh
.ssh/id_*
Movies
Music
Pictures
Public
Library
Downloads
Desktop
Dropbox
Documents
Applications
VirtualBox VMs
Dropbox*
.Trash
.dropbox
.cups
*.log
*.pem
go-projects
gocode
.yas-compiled-snippets.el
.bower
.aws
.packer.d
*.retry
.httpie
.dbshell
.CFUserTextEncoding
.gem
.ansible
.boot2docker
.grip
.heroku
.netrc
.ssh
.rediscli_history
.node-gyp
.htoprc
ansible_hosts
.openvpn-connect.json
.zshrc-e
*zcompdump*
