*~
.bash_history
.bash_logout
.cache
.config
.emacs.desktop
.ido.last
.ivy2
.oh-my-zsh
.profile
.scala_history
.subversion
.sudo_as_admin_successful
.zcompdump
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
treat*
pointofsale
.blend-cache
.lesshst
.npm
hbase-0.92.1-cdh4.0.0
*.tar.gz
elasticsearch*
repo
.Xauthority
.pip
.aptitude
.emacs.d
.m2
.psql_history
.svn
emacs_stuff/scala-mode/*.elc
.ssh/authorized_keys
.ssh/known_hosts
.vbox_version
.veewee_version
postinstall.sh
.ssh/id_rsa
.ssh/id_rsa.pub
Movies
Music
Pictures
Public
