[user]
  email = eugenemarinelli@protonmail.com
  name = Eugene Marinelli
[color]
  ui = auto
[branch]
  autosetuprebase = always
[alias]
  co = checkout
  cp = cherry-pick
  br = branch
  st = stash
  fshow = ! sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq | sed -e "s#^#`git rev-parse --show-toplevel`/#"' -
[core]
  excludesfile = ~/.gitignore_global
[push]
  default = matching
[credential]
  helper = cache
[heroku]
  account = personal
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
