*~
.bash_history
.bash_logout
.cache
.config
.emacs.desktop
.ido.last
.ivy2
.oh-my-zsh
.profile
.sbt
.scala_history
.ssh
.subversion
.sudo_as_admin_successful
.zcompdump
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
emacs_stuff/scala-mode
treat*
pointofsale
.blend-cache
.lesshst
.npm
hbase-0.92.1-cdh4.0.0
*.tar.gz
elasticsearch*
repo
.Xauthority
.pip
.aptitude
.emacs.d
.m2
.psql_history
